POSTGRES_SCHEMA=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres

HOST_PORT=5432
CONTAINER_PORT=5432

DOCKER_CONTAINER=my-postgres-container
DOCKER_IMAGE=my-postgres-image

POSTGRES_ADMIN=postgres@postgres.com
POSTGRES_ADMIN_PASSWORD=postgres